<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="mainDiv">
            {{{body}}}
            {{#each posts}}
                <a href="{{url}}">
                    <h1 id="titulo">{{math @index "+" 1}}. {{titleURL title url}}</h1>
                </a>
                <span id="subtitulo">{{likes}} points by {{username}} {{prettifyDate creationtime}} | flag | hide | </span>
                <a id="subtitulo" href="item?id={{id}}">0 POTATOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOS</a>
            {{/each}}
            <br>
        </div>
    </body>
</html>