<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {{{body}}}
        {{#each posts}}
            <a href="{{url}}">
                <h1>{{math @index "+" 1}}: {{title}}</h1>
            </a>
            {{!-- <p>{{msg}}</p> --}}
            <p>Likes: {{likes}}</p>
            <p>Posted by {{username}} {{prettifyDate creationtime}}</p>
        {{/each}}
    </body>
</html>