<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="mainDiv">
            {{{body}}}
            <br>
            {{#each posts}}
                <br>
                <span id = "likeandtitle">
                    <a href="/votePost?id={{id}}">
                            {{#if userLiked}}
                                <img id="likeButton" src="resources/filled_heart.png">
                            {{else}}
                                <img id="likeButton" src="resources/empty_heart.png">
                            {{/if}}
                    </a>
                    <a href="{{titleOrURL id url}}">
                        <h1 id="titulo">{{math @index "+" 1}}. {{titleURL title url}}</h1>
                    </a>
                </span>
                <span id="subtitulo">{{likes}} points by
                <a id="userTag" href = "/user?username={{truncate username}}"> {{truncate username}} </a> 
                {{prettifyDate creationTime}} | flag | hide | 
                <a id="subtitulo" href="item?id={{id}}"> {{commentsNum}} comments</a> </span>   
                <br>
            {{/each}}
            <br>
            <center><span><a id=botLinks href="">Guidelines</a>
                    | <a id=botLinks href="">FAQ</a>
                    | <a id=botLinks href="">Lists</a>
                    | <a id=botLinks href="">API</a>
                    | <a id=botLinks href="">Security</a>
                    | <a id=botLinks href="">Legal</a>
                    | <a id=botLinks href="">Apply to YC</a>
                    | <a id=botLinks href="">Contact</a></span><br><br><form>Search:
                    <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
                </center>
            <br>
        </div>
    </body>
</html>