<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="mainDiv">
            {{{body}}}
            <br>
            {{#each posts}}
                <br>
                <span id = "likeandtitle">
                    <img id="likeButton" src="resources/empty_heart.png" {{!-- onclick='likeComment({{id}})' --}}/>
                    <a href="{{url}}">
                        <h1 id="titulo">{{math @index "+" 1}}. {{titleURL title url}}</h1>
                    </a>
                </span>
                <span id="subtitulo">{{likes}} points by {{username}} {{prettifyDate creationTime}} | flag | hide | 
                <a id="subtitulo" href="item?id={{id}}"> {{commentsNum}} comments</a> </span>   
                <br>
            {{/each}}
            <br>
        </div>
    </body>
</html>