<html>

  <head>
  </head>

  <body>
    {{{body}}}
    <div id="userDiv">

      <form action="" method="post">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td bgcolor="#ffffaa">
                <table cellpadding="5" width="100%">
                  <tbody>
                    <tr>
                      <td id="titleText">
                        Only admins see your email below. To share publicly, add to the 'about' box.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table border="0">
          <tbody>
            <tr>
              <td id="titleText">email:</td>
              <td id="titleText">
                {{user.email}}
              </td>
            </tr>
            <tr>
              <td id="titleText">created:</td>
              <td id="titleText">
                {{prettifyDate user.creationTime}}
              </td>
            </tr>
            <tr>
              <td valign="top" id="titleText">about:</td>
              <td>
                <textarea
                  cols="60"
                  rows="5"
                  wrap="virtual"
                  name="aboutMe"
                >{{user.aboutMe}}</textarea>
              </td>
            </tr>
            <tr>
              <td id="titleText">phone:</td>
              <td>
                <input type="text" name="phone" value="{{user.phone}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
              </td>
            </tr>
            <tr>
              <td id="titleText">linkedIn:</td>
              <td>
                <input type="text" name="linkedin" value="{{user.linUsername}}" />
              </td>
            </tr>
            <tr>
              <td id="titleText">github:</td>
              <td>
                <input type="text" name="github" value="{{user.ghUsername}}" />
              </td>
            <tr>
              <td></td>
              <td>
                <a
                  id="link"
                  href="/submitted?username={{user.username}}"
                ><u>submissions</u></a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a
                  id="link"
                  href="/threads?username={{user.username}}"
                ><u>comments</u></a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a
                  id="link"
                  href="/likedPosts?username={{user.username}}"
                ><u>upvoted submissions</u></a>
                /
                <a
                  id="link"
                  href="/likedComments?username={{user.username}}"
                ><u>comments</u></a>
                <span id="titleText" style="font-style: italic">(private)</span>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <br>
                <input id="topbarItem" type="submit" value="update" />
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <br>
    </div>
  </body>

</html>