
 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FIBer News</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="mainDiv">
            {{{body}}}
            {{#each posts}}
                <div id="threadsDiv">
                    <br>
                    <span id="subtitulo">
                        <a style="color: #828282" {{!-- href="/users/id?=author" Aqui ira el link al perfil del user --}} >{{likes}} points by {{author}} {{prettifyDate creationTime}}</a>
                        | prev | next [-]
                    </span>
                    <p id = "comment">{{message}}</p>
                    <a id = "reply" href={{getReply postID id}}>reply</a>
                    <div id="subcomentarios">
                        {{#each comments}}
                            {{> partialComment}}
                        {{/each}}
                    </div>
                </div>

            {{/each}}
        </div>
    </body>
</html>