<html>
  <head>
  </head>
  <body>
    {{{body}}}
    <div id="profileDiv">
      <form action="" method="post">
        <table border="0" cellspacing="6px">
          <tbody>
            <tr>
              <td id="titleText" valign="middle">user:</td>
              <td>
                <a id="link"
                  valign="top"
                  href="/user?username={{user.username}}"
                ><font color="#3c963c">{{user.username}}</font></a>
              </td>
            </tr>
            <tr>
              <td id="titleText">created:</td>
              <td>
                <p id="link">{{prettifyDate user.creationTime}}</p>
              </td>
            </tr>
            <tr>
              <td id="titleText">about:</td>
              <td id="link">
                {{#if user.aboutMe}}
                    {{user.aboutMe}}
                {{else}}
                  -
                {{/if}}
              </td>
            </tr>
            <tr>
              <td id="titleText">phone:</td>
              <td>
                <p id="link">
                  {{#if user.phone}}
                    {{user.phone}}
                  {{else}}
                    -
                  {{/if}}
                </p>
              </td>
            </tr>
            <tr>
              <td id="titleText" >linkedIn:</td>
              <td>
                {{#if user.linUsername}}
                  <a id="link" href="https://www.linkedin.com/in/{{user.linUsername}}">
                    {{user.linUsername}}
                  </a>
                {{else}}
                  -
                {{/if}}
              </td>
            </tr>
            <tr>
              <td id="titleText">github:</td>
              <td>
                {{#if user.ghUsername}}
                    <a id="link" href="https://github.com/{{user.ghUsername}}">
                    {{user.ghUsername}}
                  </a>
                {{else}}
                  -
                {{/if}}
              </td>
            <tr>
            <tr>
              <td></td>
              <td>
                <a
                  id="link"
                  href="/submitted?username={{user.username}}"
                ><u>submissions</u></a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a
                  id="link"
                  href="/threads?username={{user.username}}"
                ><u>comments</u></a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>